<a href="https://colab.research.google.com/github/NelsonSSoares/AulasPython-u9/blob/main/CienciadeDadoa/atividade_dicionario_import.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ATIVIDADE Pandas

1. Importar a biblioteca do Pandas

In [ ]:
import pandas as pd

2. Importar os três `datasets` disponíveis no endereço: http://emsapi.esy.es/datasets/, definindo as variáveis, respectivamente como:
    * `df_corona_limpo`
    * `df_indice_alunos`
    * `df_notas_alunos`

In [ ]:
df_corona_limpo = pd.read_csv('http://emsapi.esy.es/datasets/corona_limpo.csv', sep = ',')
df_indice_alunos = pd.read_excel('/content/indice_alunos.xlsx')
df_notas_alunos = pd.read_csv('http://emsapi.esy.es/datasets/notas_alunos.csv', sep = ',')

3. Mostrar quantas observações e quantas variáveis existem em `df_corona_limpo`

In [ ]:
df_corona_limpo.shape

(223, 28)

4. Mostre individualmente o número de observações e o número de variáveis em `df_corona_limpo`

In [ ]:
df_corona_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ObservationDate                     223 non-null    object
 1   Country/Region                      223 non-null    object
 2   Last Update                         223 non-null    object
 3   Confirmed                           223 non-null    float64
 4   Deaths                              223 non-null    float64
 5   Recovered                           223 non-null    float64
 6   Confirmed + Deaths                  223 non-null    float64
 7   Death by Cases                      212 non-null    float64
 8   Country                             187 non-null    object
 9   Region                              187 non-null    object
 10  Population                          187 non-null    float64
 11  Area (sq. mi.)                      187 non-null    float64
 12  Pop. Density (per sq. mi.)          187 non-null    float64
 13  Coastline (coast/area ratio)        187 non-null    float64
 14  Net migration                       186 non-null    float64
 15  Infant mortality (per 1000 births)  186 non-null    float64
 16  GDP ($ per capita)                  186 non-null    float64
 17  Literacy (%)                        179 non-null    float64
 18  Phones (per 1000)                   184 non-null    float64
 19  Arable (%)                          185 non-null    float64
 20  Crops (%)                           185 non-null    float64
 21  Other (%)                           185 non-null    float64
 22  Climate                             167 non-null    float64
 23  Birthrate                           185 non-null    float64
 24  Deathrate                           185 non-null    float64
 25  Agriculture                         180 non-null    float64
 26  Industry                            179 non-null    float64
 27  Service                             180 non-null    float64
dtypes: float64(23), object(5)
memory usage: 48.9+ KB

5. Mostre o maior valor da variável `Indice5` de `df_indice_alunos`

In [ ]:
df_indice_alunos['Indice5'].max()

8.9907

6. Mostre as últimas **8** observações de `df_indice_alunos`

In [ ]:
df_indice_alunos.tail(8)

                   Nome  Indice1  Indice2  Indice3  Indice4  Indice5
42  Querubim Carvalhais   7.4435   6.8862   6.3803   6.9054   4.7318
43         Renan Themes   5.2740   7.2817   7.7562   4.5162   5.3184
44         Renata Valle   7.1117   4.9454   7.0783   8.5155   6.4485
45    Silvério Portella   7.3471   8.0308   8.0765   7.5971   5.8140
46       Tomásia Araújo   7.6408   7.3267   6.4593   6.6186   7.3612
47          Tomé Marins   6.4260   7.5081   7.2841   7.9098   7.0052
48     Verónica Hidalgo   7.3363   6.0867   7.3824   8.1524   7.8140
49    Zeferino Granjeia   7.0438   6.9315   6.9814   6.5655   6.4922

7. Qual o **tipo de dado** da variável `Nota4` de `df_notas_alunos`

In [ ]:
df_notas_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    50 non-null     object
 1   Nota1   50 non-null     float64
 2   Nota2   50 non-null     float64
 3   Nota3   50 non-null     float64
 4   Nota4   50 non-null     float64
 5   Nota5   50 non-null     float64
dtypes: float64(5), object(1)
memory usage: 2.5+ KB

8. **Desafio** - Quantas observações existem no `dataset` disponível em:
 * https://perso.telecom-paristech.fr/eagan/class/igr204/data/nat1900-2017.tsv

In [ ]:
dataset = pd.read_csv('/content/nat1900-2017.tsv', sep='\t')

dataset

ParserError: ignored